<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.11.3.css') }}">
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
        {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='bootstrap-5.3.3.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='htmx-1.9.10.js') }}"></script>

</body>

</html>
