<form action="{{ url_for('configure_credentials') }}" method="post">
    <label for="caldav-url">CalDAV URL</label>
    <input id="caldav-url" name="caldav-url" type="text" value="{{ g.caldav_url }}">

    <label for="caldav-username">CalDAV username</label>
    <input id="caldav-username" name="caldav-username" type="text" value="{{ g.caldav_username }}">

    <label for="caldav-password">CalDAV password</label>
    <input id="caldav-password" name="caldav-password" type="password" value="{{ g.caldav_password }}">

    <button type="submit">Submit</button>
</form>
