{% extends 'base.html' %}

{% block content %}
<div class="justify-content-between pt-3 row">
    <div class="col-auto">
        <a class="btn btn-outline-dark" href="{{ build_url('day', g.date) }}">
            <i class="bi-chevron-left"></i>
        </a>
    </div>
    <div class="col-auto text-center">
        <h1>{{ g.date.day }} {{ g.date.strftime('%b %Y') }}</h1>
        <p>{{ g.date.strftime('%A') }}</p>
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-success" form="form" type="submit">
            <i class="bi-check-lg"></i>
        </button>
    </div>
</div>

<div class="pt-3 row">
    <div class="col">
        <form action="{{ build_url('day_update', g.date) }}"
              id="form" method="post">
            <div class="mb-3">
                <textarea aria-label="Journal entry" class="form-control" name="entry-text" rows="20">
                    {{- g.entry_text -}}
                </textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-danger" formaction="{{ build_url('day_delete', g.date) }}" type="submit">
                    <i class="bi-trash"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
