{% extends 'base.html' %}

{% block content %}
<div class="justify-content-between pt-3 row">
    <div class="col-auto">
        <a class="btn btn-outline-dark" href="{{ build_url('month', g.date) }}">
            <i class="bi-chevron-left"></i>
        </a>
    </div>
    <div class="col-auto">
        <h1>{{ g.date }}</h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-success" href="{{ build_url('day_edit', g.date) }}">
            <i class="bi-pencil"></i>
        </a>
    </div>
</div>

<div class="pt-3 row">
    <div class="col">
        {{ g.entry_text | md }}
    </div>
</div>
{% endblock %}
