{% extends 'base.html' %}

{% block content %}
<div class="justify-content-between pt-3 row">
    <div class="col-auto">
        <a class="btn btn-outline-primary" href="{{ build_url('month', g.prev_month) }}">
            <i class="bi-chevron-left"></i>
        </a>
    </div>

    <div class="col-auto">
        <h1>{{ g.month_name }} {{ g.start.year }}</h1>
    </div>

    <div class="col-auto">
    {% if g.start < g.today.replace(day=1) %}
        <a class="btn btn-outline-primary" href="{{ build_url('month', g.next_month) }}">
            <i class="bi-chevron-right"></i>
        </a>
    {% else %}
        <button class="btn invisible" disabled>&rarr;</button>
    {% endif %}
    </div>
</div>

<div class="pt-3 row">
    <div class="col">
        <table class="fs-4 table text-center">
            <thead>
            <tr>
            {% for d in g.day_names %}
                <th>{{ d }}</th>
            {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for w in g.cal.monthdatescalendar(g.start.year, g.start.month) %}
                <tr>
                {% for d in w %}
                    {% if d.month == g.start.month %}
                        {% if d > g.today %}
                            <td class="text-secondary">{{ d.day }}</td>
                        {% elif d in g.dates_with_journals %}
                            <td class="table-success">
                                <a class="link-success text-decoration-none" href="{{ build_url('day', d) }}">
                                    {{ d.day }}
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a class="text-decoration-none" href="{{ build_url('day_edit', d) }}">
                                    {{ d.day }}
                                </a>
                            </td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
